<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="book_form">
        <%= render 'shared/book1_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Book Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
<h1>No Books, No Life</h1>
<h2>
  This is the home page for the Book Application by "taniiiiim".
</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("cat.png", alt: "cat.logo"),
            'https://www.motivation-cloud.com/' %>
<% end %>
